<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Online info page of Danny Crasto" />
        <title>About Page</title>
    <%- include('gtmHeader') %>
    <%- include('style')%>
    </head>
    <body>
        <%- include('gtmBody')%>
        <section id="infoPage">
            <img src="assets/profile_icon.jpg" alt="Danny Crasto" width="164" height="164" />
            <header>
                <h1 class="my-name">Danny Crasto</h1>
								<h2 class="my-things"><a class="no-fluff" href="https://github.com/dcrasto">coder</a> | <a  class="no-fluff" href="https://photos.app.goo.gl/xrePFp2dfZxK8Z6Q6">traveler</a> | <a class="no-fluff" href="https://photos.app.goo.gl/mWdrhSNYrqh3NNYT7">photographer</a> | <a class="no-fluff" href="https://www.goodreads.com/review/list/174357259-danny-crasto">reader</a> | <a class="no-fluff"  href="https://photos.app.goo.gl/xrePFp2dfZxK8Z6Q6">golfer</a></h2>
						</header><p class="description">I'm a command-line junkie where coding to solve problems is my precursor to a flow state. I currently reside in sunny Dubai, UAE working as a staff engineer for the <a class="no-fluff-white" href="https://dubai.dubizzle.com">local craigslist</a>. I've been fortunate enough to work on varied projects in different domains which has added a motley crew of tools to my belt. I dabble in frontend (for this website) but mostly involved on the backend of distributed systems in the cloud (aws). I have managed people, but computers are easier. I like to <a class="no-fluff-white" href="https://www.goodreads.com/user/show/174357259-danny-crasto">read</a> and make <a class="no-fluff-white"  href="https://twitter.com/search?q=(from%3Adanwald)%20%23cliffsnotes&src=typed_query&f=top">notes</a> for people (me) with poor memory. <i>Never stop learning.</i></p>
        </section>
        <section>
					<div class="social-icons">
						<ul class="social-icons-links">
							<li>
								<a href="https://twitter.com/danwald" class="social-link" target='_blank'>
									<i class="fab fa-twitter fa-2x"></i>
								</a>
							</li>
							<li>
								<a href="https://github.com/danwald" class="social-link" target='_blank'>
									<i class="fab fa-github fa-2x"></i>
								</a>
							</li>
							<li>
								<a href="https://github.com/dcrasto" class="social-link" target='_blank'>
									<i class="fa-solid fa-briefcase fa-2x"></i>
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/in/danny-crasto" class="social-link" target='_blank'>
									<i class="fab fa-linkedin fa-2x"></i>
							 	</a>
							</li>
							<li>
								<a href="https://blog.danwald.me" class="social-link">
									<i class="fab fa-blogger fa-2x"></i>
							 	</a>
							</li>
							<li>
								<a href="https://photos.app.goo.gl/mWdrhSNYrqh3NNYT7" class="social-link">
									<i class="fa-solid fa-camera-retro fa-2x"></i>
							 	</a>
							</li>
							<li>
								<a rel="me" href="https://techhub.social/@danwald" class="social-link">
                	<i class="fa-brands fa-mastodon fa-2x"></i>
                </a>
              </li>
						</ul>
					</div>
        </section>
        <section>
            <div align="center">
                <ul>
                    <li>
											<div class="nav-lnk">
												<a href="/giffy">Make your own gifs</a>
											</div>
										</li>
                </ul>
                <ul>
                    <li>
											<div class="nav-lnk">
												<a href="assets/resume.pdf">resume</a>
											</div>
										</li>
                </ul>
            </div>
        </section>
    </body>
</html>
