<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Online info page of Danny Crasto" />
        <title>About Page</title>
    <%- include('gtmHeader') %>
    <%- include('style')%>
    </head>
    <body>
        <%- include('gtmBody')%>
        <section id="infoPage">
            <img src="assets/profile_icon.jpg" alt="Danny Crasto" width="164" height="164" />
            <header>
                <h1 class="my-name">Danny Crasto</h1>
                <h2 class="my-things"> coder | golfer | traveler</h2>
            </header>
                <p class="description">I get lost coding. I currently reside in sunny Dubai, UAE. I've been fortunate enough to work on varied projects, in diverse fields which has added a motley crew of tools to my belt. I don't get to code much at work so I'm currently learning some frontend to become an actual 'full stack' developer. <i>Never stop learning.</i></p>
        </section>

        <section>
					<div class="social-icons">
						<ul class="social-icons-links">
							<li>
								<a href="https://twitter.com/danwald" class="social-link" target='_blank'>
									<i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="https://github.com/danwald" class="social-link" target='_blank'>
									<i class="fab fa-github fa-2x" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/in/danny-crasto" class="social-link" target='_blank'>
									<i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
							 	</a>
							</li>
							<li>
								<a href="https://blog.danwald.me" class="social-link">
									<i class="fab fa-blogger fa-2x" aria-hidden="true"></i>
							 	</a>
							</li>
						</ul>
					</div>
        </section>


        <section>
            <div align="center">
                <ul>
                    <li>
											<div class="nav-lnk">
												<a href="/giffy">Make your own gifs</a>
											</div>
										</li>
                </ul>
            </div>
        </section>
    </body>
</html>
