<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Online info page of Danny Crasto" />
        <title>About Page</title>
    <% include gtmHeader %>
    <% include style %>
    </head>
    <body>
        <% include gtmBody %>
        <section id="infoPage">
            <img src="assets/profile_icon.jpg" alt="Danny Crasto" width="164" height="164" />
            <header>
                <h1 class="my-name">Danny Crasto</h1>
                <h2 class="my-things"> coder | runner | golfer | traveler</h2>
            </header>
                <p class="description">I get lost coding. I currently reside in sunny Dubai, UAE. I've been fortunate enough to work on varied projects, in diverse fields which has added a motley crew of tools to my belt. I don't get to code much at work anymore with my type of experience. So I am currently learning some frontend stack to become an actual 'full stack' developer. It's also so different from backend and it doesn't come easy.<i>Never stop learning.</i></p>
        </section>
        <section>
            <div align="center">
                <ul id="nav_links">
                    <li><a href="https://twitter.com/danwald" target="_blank"><img src="assets/Twitter_Social_Icon_Circle_White.svg" width="41"/></a></li>
                    <li><a href="https://github.com/danwald" target="_blank"><img src="assets/GitHub-Mark-Light-32px.png" width="41"/></a></li>
                    <li><a href="https://www.linkedin.com/in/danny-crasto" target="_blank"><img src="assets/In-2C-41px-R.png" width="41"/></a></li>
                    <li><a href="https://gitlab.com/danwald" target="_blank"><img src="assets/gitlab-icon-1-color-black-rgb.svg" width="41"/></a></li>
                </ul>
            </div>
        </section>
        <section>
            <div align="center">
                <ul id="nav_links">
                    <li><a href="/giffy">Make your own gifs</li>
                </ul>
            </div>
        </section>
    </body>
</html>
