<!DOCTYPE html>
<html>
    <head>
        <!-- Google Tag Manager -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KXGPCLB');</script>
        <!-- End Google Tag Manager -->
        <meta charset="utf-8" />
        <meta name="description" content="Online info page of Danny Crasto" />

        <title>About Page</title>

        <!-- Our CSS stylesheet file -->
        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="shortcut icon" href="assets/favicon.ico" />
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8618805729360518",
            enable_page_level_ads: true
          });
        </script>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXGPCLB"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <section id="infoPage">
            <img src="assets/profile_icon.jpg" alt="Danny Crasto" width="164" height="164" />
            <header>
                <h1>Danny Crasto</h1>
                <h2>coder | runner | golfer | traveler</h2>
            </header>
                <p class="description">I am a curious coder living in Dubai, UAE. I'm partial to data driven solutions to problems that I have to figure out. I've been fortunate enough to work on varied projects, in diverse fields which has allowed me to add a motley crew of tools to my belt. <i>Never stop learning.</i></p>
        </section>
        <section>
            <div align="center">
                <ul id="nav_links">
                    <li><a href="http://twitter.com/danwald" target="_blank"><img src="assets/Twitter_logo_white.png" width="41"/></a></li>
                    <li><a href="http://github.com/danwald" target="_blank"><img src="assets/GitHub-Mark-Light-32px.png" width="41"/></a></li>
                    <li><a href="www.linkedin.com/in/danny-crasto" target="_blank"><img src="assets/In-2C-41px-R.png" width="41"/></a></li>
                </ul>
            </div>
        </section>
        <section>
        <h1>Hello world!</h1>
        <form method="POST"" action="/person">
        Firstname: <input type="text" id="firstname" name="firstname" /><br/>
        Lastname: <input type="text" id="lastname" name="lastname" /><br/>
        <input type="submit" value="Submit">
        </form>
        <script>
        $.ajax({
            type: "POST",
            url: "/personjson",
            data: JSON.stringify({firstname: 'Jane', lastname: 'Doe'}),
            dataType: 'json',
            contentType: 'application/json'
        });
        </script>
        </section>
    </body>
</html>
